body {
  background-image: url("https://media.istockphoto.com/id/517188688/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%B3%D0%BE%D1%80%D0%BD%D1%8B%D0%B9-%D0%BB%D0%B0%D0%BD%D0%B4%D1%88%D0%B0%D1%84%D1%82.jpg?s=612x612&w=0&k=20&c=6Qfb5YCLIkiq_hYxRmTj8t2FWwr4Yrdq2CRGVwj5Ymk=");
  background-attachment: fixed;
  background-size: cover;
}
.wraper {
  background: rgba(141, 163, 80, 0.3);
  margin: 12px;
  padding: 12px;
  border-radius: 16px;
}
.form-text {
  size: 40;
  width: 350px;
  padding: 8px;
  padding-left: 16px;
  border-radius: 8px;
  font-size: 24px;
  margin-left: 16px;
  color: #000;
}
.label-sity-name {
  font-size: 30px;
}
.button-search {
  background-color: rgba(118, 139, 60, 0.4);
  padding: 8px;
  padding-left: 12px;
  border-radius: 8px;
  font-size: 24px;
  margin-left: 12px;
}
.button-current {
  background-color: rgba(67, 75, 45, 0.4);
  padding: 8px;
  padding-left: 12px;
  border-radius: 8px;
  font-size: 24px;
  margin-left: 12px;
}
.main-window {
  border: 1px solid rgb(45, 53, 23);
  border-radius: 8px;
  background: rgba(118, 139, 60, 0.1);
  margin: 4px;
}
.city {
  font-size: 48px;
  margin: 8px;
  margin-top: 12px;
  text-transform: capitalize;
}
.current-date {
  font-size: 32px;
  margin-left: 8px;
  font-weight: 600;
}
.sky {
  font-size: 28px;
  margin: 0 8px;
  margin-bottom: 0;
  line-height: 0.8;
  font-weight: 400;
}
.sky:first-letter {
  text-transform: capitalize;
}
.temperature {
  font-size: 52px;
  margin-left: 8px;
  margin-bottom: 0;
  margin-top: 0;
}

.celsius-link-a {
  font-size: 40px;
  text-decoration: none;
  color: #000;
}
.celsius-link-a:hover,
.celsius-link-a:active {
  color: #0f5317;
  cursor: default;
}
.humidity {
  padding-top: 60px;
  font-size: 28px;
}
.col {
  border: 1px solid rgb(45, 53, 23);
  border-radius: 8px;
  background: rgba(118, 139, 60, 0.3);
  margin: 16px;
  text-align: center;
  line-height: 0.8;
  color: #000;
}
.col:hover {
  line-height: 0.8;
  font-size: 24px;
  font-weight: 600;
  background: #151b0399;
}
.day-of-week {
  font-size: 18px;
}
.footer {
  display: block;
  width: 80%;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid rgb(45, 53, 23);
  border-radius: 8px;
  background: rgba(118, 139, 60, 0.6);
  text-align: center;
  color: #010a01;
  line-height: 0.8;
  padding: 4px 16px;
  margin: auto;
}
.githab {
  color: #000;
}
